body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
.header-lists-text,
.hero-title,
.myButton {
  font-weight: 700;
  letter-spacing: 0;
}
@font-face {
  font-display: swap;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/mulish-v18-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/mulish-v18-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/mulish-v18-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/mulish-v18-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/mulish-v18-latin-800.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/mulish-v18-latin-900.woff2") format("woff2");
}
:root {
  --white: #ffffff;
  --black: #000000;
  --suyoh: #1f1534;
  --pinkwhite: #7d7987;
  --tblue: #458ff6;
}
::selection {
  background-color: var(--tblue);
  color: var(--white);
}
::-webkit-scrollbar {
  width: 0.45rem;
}
::-webkit-scrollbar-track {
  background-color: var(--white);
}
::-webkit-scrollbar-thumb {
  background-color: var(--tblue);
  border-radius: 10px;
}
*,
::after,
::before {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
li,
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: inline-block;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  min-width: 320px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--white);
  color: var(--black);
  overflow-x: hidden;
}
.myButton {
  box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
  padding: 20px 40px;
  border: 2px solid var(--tblue);
  font-family: "Mulish";
  font-size: 18px;
  color: var(--white);
  background-color: var(--tblue);
  line-height: 24%;
  border-radius: 55px;
  cursor: pointer;
  transition: 250ms;
}
.category-btn:active,
.myButton:active {
  color: var(--tblue);
  transition: 0.2s;
  background-color: var(--white);
}
.container {
  width: 100%;
  max-width: 1820px;
  padding: 0 195px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.snowflake {
  color: #1ab3ff;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  pointer-events: none;
  animation-name: snowflakes-shake;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}
.category,
.check-out,
.footer,
.hero {
  position: relative;
}
.snowflake,
.snowflake .inner {
  animation-iteration-count: infinite;
  animation-play-state: running;
}
@keyframes snowflakes-fall {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(110vh);
  }
}
@keyframes snowflakes-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(80px);
  }
}
.snowflake .inner {
  animation-duration: 10s;
  animation-name: snowflakes-fall;
  animation-timing-function: linear;
}
.snowflake:nth-of-type(0) {
  left: 1%;
  animation-delay: 0s;
}
.snowflake:nth-of-type(0) .inner {
  animation-delay: 0s;
}
.snowflake:first-of-type {
  left: 10%;
  animation-delay: 1s;
}
.snowflake:first-of-type .inner,
.snowflake:nth-of-type(8) .inner {
  animation-delay: 1s;
}
.snowflake:nth-of-type(2) {
  left: 20%;
  animation-delay: 0.5s;
}
.snowflake:nth-of-type(2) .inner,
.snowflake:nth-of-type(6) .inner {
  animation-delay: 6s;
}
.snowflake:nth-of-type(3) {
  left: 30%;
  animation-delay: 2s;
}
.snowflake:nth-of-type(11) .inner,
.snowflake:nth-of-type(3) .inner {
  animation-delay: 4s;
}
.snowflake:nth-of-type(4) {
  left: 40%;
  animation-delay: 2s;
}
.snowflake:nth-of-type(10) .inner,
.snowflake:nth-of-type(4) .inner {
  animation-delay: 2s;
}
.snowflake:nth-of-type(5) {
  left: 50%;
  animation-delay: 3s;
}
.snowflake:nth-of-type(5) .inner {
  animation-delay: 8s;
}
.snowflake:nth-of-type(6) {
  left: 60%;
  animation-delay: 2s;
}
.snowflake:nth-of-type(7) {
  left: 70%;
  animation-delay: 1s;
}
.snowflake:nth-of-type(7) .inner {
  animation-delay: 2.5s;
}
.snowflake:nth-of-type(8) {
  left: 80%;
  animation-delay: 0s;
}
.snowflake:nth-of-type(9) {
  left: 90%;
  animation-delay: 1.5s;
}
.snowflake:nth-of-type(9) .inner {
  animation-delay: 3s;
}
.snowflake:nth-of-type(10) {
  left: 25%;
  animation-delay: 0s;
}
.snowflake:nth-of-type(11) {
  left: 65%;
  animation-delay: 2.5s;
}
.category::after,
.hero::after {
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  content: "";
  top: 0;
}
.header {
  margin-top: 40px;
}
.footer__container,
.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.header-lists-text {
  font-family: "Mulish";
  font-size: 18px;
  line-height: 100%;
  color: var(--suyoh);
  transition: 0.3s;
}
.category-text-box,
.category-textsss,
.hero-title-info {
  font-family: "Mulish";
  color: var(--pinkwhite);
}
.header-lists-text:hover {
  color: #00f;
  transition: 0.3s;
}
.hero {
  margin-top: 60px;
  margin-bottom: 200px;
}
.hero::after {
  width: 132px;
  height: 115px;
  background-image: url("../icons/tochka.svg");
}
.categorybutton,
.check-out-btn,
.footer-scales,
.hero__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.dowload-left-box,
.healthcare-left-box,
.hero-right-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.hero-title {
  margin-bottom: 25px;
  width: 427px;
  height: 112px;
  font-family: "Mulish";
  font-size: 48px;
  line-height: 56px;
}
.hero-title-info {
  width: 445px;
  margin-bottom: 47px;
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0;
}
.category {
  z-index: 2;
  margin-bottom: 221px;
}
.category::after {
  z-index: -1;
  width: 700px;
  height: 800px;
  background-image: url("../icons/big.svg");
}
.category-title {
  margin-bottom: 26px;
  font-family: "Mulish";
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  letter-spacing: 0;
  text-align: center;
}
.category-textsss {
  margin-bottom: 67px;
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0;
}
.category-minus {
  margin-bottom: 33px;
  width: 56px;
  height: 2px;
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-items: center;
}
.category-boxes,
.check-boxes {
  margin-bottom: 37px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 27px;
}
.category-cards {
  border: 3px solid skyblue;
  background-color: #ffffff;
  padding: 54px 37px 46px 39px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.4s;
}
.category-cards:hover {
  transition: 0.4s;
  box-shadow: rgba(19, 171, 209, 0.25) 0 54px 55px,
    rgba(0, 0, 0, 0.12) 0 -12px 30px, #0ce5e9 0 4px 6px,
    rgba(10, 167, 224, 0.888) 0 12px 13px, #13abd1 0 -3px 5px;
  transform: scale(1.1);
}
.category-titles {
  margin-top: 20px;
  margin-bottom: 1px;
  font-family: "Mulish";
  font-weight: 700;
  font-size: 24px;
  line-height: 56px;
  letter-spacing: 0;
}
.category-text-box {
  width: 266px;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0;
}
.category-btn,
.healthcare-title {
  font-weight: 700;
  letter-spacing: 0;
  font-family: "Mulish";
}
.category-boxes2 {
  margin-bottom: 81px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 27px;
}
.category-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
  padding: 20px 40px;
  border: 2px solid var(--tblue);
  font-size: 18px;
  color: var(--white);
  background-color: var(--tblue);
  line-height: 24%;
  border-radius: 55px;
  cursor: pointer;
  transition: 250ms;
}
.healthcare {
  margin-bottom: 265px;
}
.healthcare-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 137px;
}
.healthcare-title {
  width: 481px;
  margin-bottom: 26px;
  font-size: 36px;
  line-height: 56px;
}
.dowload-minus,
.healthcare-minus {
  margin-bottom: 31px;
  width: 56px;
  height: 2px;
  background-color: var(--black);
}
.healthcare-texts {
  margin-bottom: 50px;
  width: 445px;
  font-family: "Mulish";
  font-weight: 500;
  font-size: 17px;
  line-height: 32px;
  letter-spacing: 0;
  color: var(--pinkwhite);
}
.download {
  margin-bottom: 262px;
}
.download-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 71px;
}
.dowload-title {
  margin-bottom: 30px;
  width: 254px;
  font-family: "Mulish";
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0;
}
.download-texts {
  margin-bottom: 61px;
  width: 420px;
  font-family: "Mulish";
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0;
  color: var(--pinkwhite);
}
.check-out-title,
.check-titles {
  font-weight: 700;
  font-family: "Mulish";
  letter-spacing: 0;
}
.download-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.check-out-t,
.footer-left-box {
  display: flex;
  flex-direction: column;
}
.check-out {
  margin-bottom: 213px;
}
.check-out::after {
  z-index: -2;
  position: absolute;
  content: "";
  width: 678px;
  height: 457px;
  top: 0;
  right: 0;
  background-image: url("../icons/mini-vector.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.footer::after,
.footer::before {
  position: absolute;
  content: "";
  width: 120px;
  height: 100px;
  background-image: url("../icons/tochka.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.check-out-t {
  justify-content: center;
  align-items: center;
  gap: 26px;
}
.check-out-title {
  text-align: center;
  font-size: 36px;
  line-height: 56px;
}
.check-out-minus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
  width: 56px;
  height: 2px;
  background-color: var(--black);
}
.check-cards {
  background-color: white;
  height: 512px;
  margin-bottom: 84px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  border-radius: 15px;
  transition: 0.4s;
  cursor: pointer;
}
.check-cards:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px,
    #00ffb7 0 4px 6px, rgba(6, 209, 255, 0.888) 0 12px 13px, #02c8ff 0 -3px 5px;
  transform: scale(1.1);
}
.check-titles {
  margin-left: 20px;
  width: 251px;
  margin-top: 20px;
  margin-bottom: 12px;
  font-size: 21px;
  line-height: 32px;
}
.check-text-box {
  margin-left: 20px;
  margin-bottom: 25px;
  width: 266px;
  font-family: "Mulish";
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0;
  color: var(--pinkwhite);
}
.check-out-href {
  margin-left: 20px;
  font-family: "Mulish";
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0;
  color: var(--tblue);
}
.footer-list-texts,
.footer-list-texts-unrique,
.footer-srok,
.footer-text {
  font-family: "Mulish";
  letter-spacing: 0;
  color: var(--white);
}
.footer {
  padding-top: 118px;
  padding-bottom: 109px;
  background: #67c3f3;
  background: linear-gradient(
    180deg,
    rgba(103, 195, 243, 1) 0%,
    rgba(90, 152, 242, 1) 92%
  );
}
.footer::after {
  z-index: 1;
  bottom: 1px;
  left: 11.23px;
}
.footer::before {
  z-index: -1;
  top: -50px;
  right: 80px;
}
.footer-left-box {
  justify-content: center;
  align-items: start;
  gap: 17px;
}
.box-footer-list,
.footer-list {
  flex-direction: column;
  display: flex;
}
.footer-text {
  margin-bottom: 31px;
  width: 391px;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
}
.footer-srok {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
}
.footer-list {
  justify-content: center;
  align-items: start;
  gap: 1px;
}
.footer-list-texts {
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
  transition: 0.3s;
}
.footer-list-texts:hover {
  color: var(--black);
  transition: 0.3s;
}
.box-footer-list {
  justify-content: center;
  align-items: start;
  gap: 2px;
}
.box2-footer-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 5px;
}
.footer-list-texts-unrique {
  font-weight: 700;
  font-size: 20px;
  line-height: 60px;
}
